PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/threatlens?directConnection=true
JWT_ACCESS_SECRET=your_super_secret_jwt_access_key_min_32_chars
JWT_REFRESH_SECRET=your_super_secret_jwt_refresh_key_min_32_chars
CLIENT_URL=http://localhost:5173
NODE_ENV=development

# Phase 2 - Machine Learning Service (FastAPI)
ML_SERVICE_URL=http://localhost:8000

# Phase 2 - Threat Intelligence (VirusTotal)
VIRUSTOTAL_API_KEY=your_virustotal_api_key_here
VIRUSTOTAL_BASE_URL=https://www.virustotal.com/api/v3

# Phase 2 - Generative AI / LLM Explanation
LLM_API_KEY=your_llm_api_key_here
LLM_MODEL=gemini-1.5-flash
LLM_BASE_URL=https://generativelanguage.googleapis.com/v1beta
